<div class="row">
        <div id="squareS" class="square md-10 mt-5">
            <div class="form-floating mb-4 mt-4 ">
                <input type="text" class="form-control" id="nome" placeholder="nome">
                <label for="nome">Nome</label>
            </div>

            <div class="form-floating mb-4">
                <input type="email" class="form-control" id="email" placeholder="email">
                <label for="email">Email</label>
            </div>

            <div class="form-floating mb-4">
                <input type="password" class="form-control" id="senha" placeholder="Senha">
                <label for="senha">Senha</label>
            </div>
          <div class="row">
            <div class="col-6">
                <button id="salvaP" class="btn btn-outline-success">Salvar</button>
            </div>
            <div class="col-6">
                <button id="log" class="btn btn-outline-primary float-end">Log de Acesso</button>
            </div>
          </div>
        </div>
</div>